.nav {
  background: green;
  /* position: relative; */
  max-height: 450px;

  color: white;
}
.modal {
  width: 450px;
  height: 200px;
  background: white;
  display: flex;
  margin: auto;
  position: relative;
  color: black;
  animation-name: slide;

  transition: all 3s ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* .nav:hover .modal {
  transform: translateY(-100%);
} */
@keyframes slide {
  /* 0% {
    top: -20px;
  } */
  100% {
    transform: translateY(5%);
  }
}
.nav-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 15px;
  gap: 1rem;
}
.ul-flex li {
  list-style: none;
}
.ul-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 15px;
  /* width: 70%; */
  gap: 1rem;
}
.ul-flex button {
  padding: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
  background: white;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 600px) {
  .nav p {
    font-size: 0.7rem;
  }
  .nav-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 15px;
    gap: 1rem;
  }
  .modal {
    width: 90%;
    height: 200px;
    background: green;
    display: flex;
    margin: auto;
    position: relative;
    color: black;
    animation-name: slide;

    transition: all 3s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .ul-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 15px;
    gap: 1rem;
  }
  .ul-flex button {
    padding: 3px;
  }
}
@media (min-width: 961px) {
  .ul-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 15px;
    width: 70%;
    gap: 1rem;
  }
  .ul-flex button {
    padding: 8px;
  }
}
